<div matRipple class="container">
    <div class="info">
        <img [src]="icon" alt="Resource Icon">
        <h1>{{ name }}</h1>
        <h4>{{ versionName }}</h4>
    </div>
    <p mat-body>{{ tag }}</p>
    <div class="footer">
        <div class="type">
            <h4 class="premium" *ngIf="premium">Premium</h4>
            <h4 class="free" *ngIf="!premium">Free</h4>
        </div>
        <div class="author">
            <img [src]="authorIcon" alt="Author Icon">
            <h4 mat-h4>{{ authorName }}</h4>
        </div>
    </div>
</div>