<div class="container" *ngIf="loading || error">
    <ng-template [ngIf]="loading">
        <mat-spinner [diameter]="32"></mat-spinner>
        <h2 mat-h2>Loading...</h2>
    </ng-template>

    <ng-template [ngIf]="error">
        <mat-icon>error</mat-icon>
        <h2 mat-h2>Failed to load the resource!</h2>
    </ng-template>
</div>

<div class="list" *ngIf="!loading && !error">
    <spiget-resource-card class="item" *ngFor="let card of cards" [resource]="card.resource" [version]="card.version" [author]="card.author"></spiget-resource-card>
</div>