<div class="container">
    <h1 mat-display-1>New Authors</h1>
    <hr>

    <div class="list">
        <div class="item">
            <spiget-author-card [id]="342233"></spiget-author-card>
            <spiget-author-card [id]="342233"></spiget-author-card>
        </div>
    </div>
</div>

<div class="container">
    <h1 mat-display-1>New Resources</h1>
    <hr>

    <div class="list">
        <div class="item">
            <spiget-resource-card></spiget-resource-card>
        </div>
    </div>
</div>
