.container {
    margin-bottom: 1.5em;

    .list {
        display: flex;
        flex-direction: column;
    
        .item {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
    
            * {
                width: 100%;
                margin: 0 1.25em 0 1.25em;
            }
        }
    
    }
}
