.resources {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container {
    width: 100%;
    margin-left: .75em;
    margin-right: .75em;
    margin-bottom: 1.5em;
}
