<div class="container">
    <h1 mat-display-1>Latest Authors</h1>
    <hr>

    <spiget-author-card-list></spiget-author-card-list>
</div>

<div class="resources">
    <div class="container">
        <h1 mat-display-1>New Resources</h1>
        <hr>
    
        <spiget-resource-card-list [type]="'latest'"></spiget-resource-card-list>
    </div>
    <div class="container">
        <h1 mat-display-1>Updated Resources</h1>
        <hr>
    
        <spiget-resource-card-list [type]="'updated'"></spiget-resource-card-list>
    </div>
</div>